@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@layer base {
  html,
  body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
}

:root {
  --font-display: "Space Grotesk", sans-serif;
}

.font-display {
  font-family: var(--font-display);
}
